*{
    margin: 0%;
    
   
   
}
.banner1{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../resources/Banner\ Image.png');

    width: 1320px;
    height: 600px;
    margin: 50px 70px;
    border-radius: 16px;
}

.banner1 h3{
    color: white;
    top: 25%;
    position: absolute;
    left: 35%;
    transform: translate(-10%, -30%);
    color: #FFF;

    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

.banner1 h1{
    color: white;
    top: 35%;
    position: absolute;
    left: 30%;
    transform: translate(-10%, -30%);
    text-align: center;
    color: #FFF;

    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

.banner2{
    position: absolute;
    top: 80%;
    left: 20%;
    
  
}

.banner2 h1{

    color: #F00;

   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 88px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

}

.banner2 h3{
    color: #F00;

text-align: center;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.banner2 h2{
    color: #070211;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner3{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 170%;
    left: 5%;
    border-radius: 16px;

}

.banner3 h1{
    color: #FFF;
    position: absolute;
    left: 7%;
    top: 15%;
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;


}

.banner3 p{
    color: #FFF;
    position: absolute;
    left: 7%;
    top: 50%;
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
    

}

.banner3 button{

    color: #FFF;
    position: absolute;
    left: 7%;
    top: 70%;
    border:none;
    background-color: transparent;
    color: #FFF;

text-align: center;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.banner3 > img{
    
    position: absolute;
    left: 70%;
    top: 10%;
    width: 300px;
}

.banner4{

    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    width:1290px;
    height: 400px;
    position: absolute;
    top: 250%;
    left: 5%;
    

}



.banner4 ,h4{

    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;

    
}

.banner4 section{

    margin-top:70px ;
}

.banner4  button{
    color:white;
    background-color: #F00;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 30px;
    width: 150px;
    text-align: center;
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}


.banner5 > .banner5-section0{

    position: absolute;
    top: 320%;
    left: 30%;
}

.banner5-section1 {

    position: absolute;
    top: 325%;
    left: 5%;
    width: 350px;

 

}

.banner5-section2{

    position:absolute;
    top: 325%;
    left: 60%;
    width: 300px;
}

.banner5-section1 h3{

    color: #F00;


font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.banner5-section1 h1{

    
color: #070211;

font-family: 'Merriweather', serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.banner5-section1 p{

    color: rgba(7, 2, 17, 0.60);

    font-family: 'Inter', sans-serif;
    
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px
}

.banner5-section2 h1{
color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;


}

.banner5-section2 p{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.banner6  .banner6-text{

    position: absolute;
    top: 380%;
    left: 20%;
    text-align: center;
    width: 800px;
    
}

.banner6  .banner6-text h3{
    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.banner6 > .banner6-text h1{

    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.banner6 > .banner6-text p{

    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: 'Merriweather', serif;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}

.banner6-image1{

    position: absolute;
    top: 420%;
    left: 50%;
}
.banner6-image2{
    position: absolute;
    top: 420%;
    left: 42%;
}


#banner6-image-container > .banner6-image3{

  position: absolute;
    top: 418%;
    z-index: 1;


}

#banner6-image-container > .banner6-image4{

    position: absolute;
    top: 464%;
    left: 2.1%;
}



